electronflow.json
[{"id":"f63f0587.01cf98","type":"tab","label":"Flow 1"},{"id":"d9ba26fa.6d2b18","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#8e0d17","baseFont":"Gill Sans,Geneva,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#d80005","edited":true},"page-titlebar-backgroundColor":{"value":"#8e0d17","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#d41322","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#8e0d17","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Gill Sans,Geneva,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"87356b62.92e3d8","type":"ui_group","z":"","name":"Text to Speech","tab":"52a903f3.ad56fc","order":3,"disp":true,"width":"6"},{"id":"c75ad4f0.0cede8","type":"ui_group","z":"","name":"Map","tab":"52a903f3.ad56fc","order":4,"disp":true,"width":"6"},{"id":"b5ecb798.df3578","type":"ui_tab","z":"f63f0587.01cf98","name":"Home","icon":"dashboard"},{"id":"a811a5d7.dc5a68","type":"ui_group","z":"f63f0587.01cf98","name":"Panel 2","tab":"b5ecb798.df3578","order":5,"disp":true,"width":"6"},{"id":"f754a9d5.5c15e8","type":"ui_group","z":"f63f0587.01cf98","name":"Introduction","tab":"b5ecb798.df3578","order":1,"disp":false,"width":"4","collapse":false},{"id":"1f6c5281.3375dd","type":"ui_group","z":"f63f0587.01cf98","name":"Panel 1","tab":"b5ecb798.df3578","order":2,"disp":true,"width":"6"},{"id":"9d50d2eb.336a7","type":"ui_template","z":"f63f0587.01cf98","group":"f754a9d5.5c15e8","name":"Welcome","order":1,"width":"4","height":"9","format":"<h3>Welcome to the <font color=\"#CE2020\">Node-RED</font> Dashboard</h3>\n<p>On the right you will see a graph and a gauge logging data from the sliders underneath.</p>\n<p>There is also an example of embedding a small map.</p>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":100,"y":60,"wires":[[]]},{"id":"2f54635b.a1efac","type":"ui_chart","z":"f63f0587.01cf98","name":"","group":"1f6c5281.3375dd","order":1,"width":"0","height":"0","label":"","chartType":"line","xformat":"HH:mm:ss","interpolate":"basis","nodata":"No Data","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":270,"y":200,"wires":[[],[]]},{"id":"39fbf518.c43f5a","type":"ui_gauge","z":"f63f0587.01cf98","name":"","group":"a811a5d7.dc5a68","order":2,"width":"","height":"","gtype":"gage","title":"Title","label":"gauge","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":270,"y":140,"wires":[]},{"id":"8de25937.0da5e8","type":"ui_button","z":"f63f0587.01cf98","name":"","group":"87356b62.92e3d8","order":2,"width":0,"height":0,"label":"press to talk","color":"","bgcolor":"","icon":"fa-volume-up","payload":"Hello to Jason Isaacs","payloadType":"str","topic":"","x":110,"y":320,"wires":[["3aea271e.acb7f8"]]},{"id":"3aea271e.acb7f8","type":"ui_audio","z":"f63f0587.01cf98","name":"","group":"a811a5d7.dc5a68","voice":"0","x":300,"y":320,"wires":[]},{"id":"b4309c06.bd42a","type":"ui_slider","z":"f63f0587.01cf98","name":"","label":"slider","group":"a811a5d7.dc5a68","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":90,"y":140,"wires":[["39fbf518.c43f5a","22bc25a6.f1e5ca"]]},{"id":"45869197.7355","type":"ui_slider","z":"f63f0587.01cf98","name":"","label":"slider","group":"1f6c5281.3375dd","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":130,"y":200,"wires":[["2f54635b.a1efac","df029770.911f08"]]},{"id":"22bc25a6.f1e5ca","type":"debug","z":"f63f0587.01cf98","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":300,"y":100,"wires":[]},{"id":"df029770.911f08","type":"debug","z":"f63f0587.01cf98","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":300,"y":260,"wires":[]},{"id":"5944d14a.9af61","type":"inject","z":"f63f0587.01cf98","name":"","topic":"","payload":"26","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"2","x":90,"y":260,"wires":[["45869197.7355"]]}]